.new-form-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* From https://css.glass */

  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.intro-text {
  color: white;
  text-align: center;
}
.intro-text h1 {
  font-size: 25px;
}
.intro-text p {
  font-size: 16px;
}

.select-new-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
  width: 95%;
}

.new-table,
.intro-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 250px;
  margin: 0;
}

.form-group-new-table {
  display: flex;
  flex-direction: row;
}

.table-name-input {
  margin: 0;
  width: 90%;
}

.new-input {
  margin: 10px 0;
}

.table-select {
  width: 100%;
  margin: 0;
}

.select-options {
  width: 100%;
  height: 50px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding: 1rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-block {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.form-spacer {
  width: 90%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.new-form-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 95%;
  margin: auto;
}
